## .NET / C#
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
packages/
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview
*.vsp
*.vspx
*.sap
*.psess
*.vsp
_UpgradeReport_Files/
Backup*/
UpgradeLog*.htm
UpgradeLog*.XML

## JetBrains Rider
.idea/
*.sln.iml

## Test results
TestResults/
*.trx
*.coveragexml
coverage*.xml
coverage*/

## Publishing
publish/
PublishProfiles/

## OS junk
Thumbs.db
.DS_Store
desktop.ini
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Misc
*.orig
*.rej
